@media (min-width: 900px) {

    /* ########## STATIC PAGES ########## */

    div.text_and_content_small div.small_cards {
        grid-template-columns: repeat(3, 1fr);
    }

    main#explore div.explore_destinations_container .explore_background{
        margin: auto;
        /* padding: 2rem 15rem; */
        max-width: 850px;
    }

}
