@media (min-width: 900px) {

    /* div#menu {
        z-index: 101;
    }

    header {
        padding: 0 1rem 0 5rem;
    }

    div#menu nav {
        left: 0;
        height: 100vh;
        width: 60px;
        overflow-x: hidden;
        border-right: 1px solid rgba(167,98,234,0.4);
    } */

}
