@import 'custom_properties';

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;}

input{
    height: 3rem;
    padding: 0 2.2rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background: var(--white);
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--main-purple);
    color: var(--white);
    overflow-x: hidden;
}

main {
    padding: 1rem;
}

footer {
    width: 100%;
    background: var(--second-purple);
    color: rgb(255, 255, 255, 0.6);
    padding: 2rem 1rem;
}

h1 {
    font-size: 1.3rem;
    text-align: center;
    padding: 1rem 2rem;
}

/* ########## MENU ########## */

div#menu {
    position: absolute;
    top: 0;
}

div#menu div#burger_menu {
    height: 4rem;
    display: flex;
    padding-left: 1rem;
}

div#menu div#burger_menu button{
    padding: 0;
    border: none;
    background: none;
    color: var(--white);
    font-size: 1.5rem;
}

div#menu nav {
    position: fixed;
    background: var(--main-purple);
    left: -200vw;
    transition: 0.2s linear;
    padding: 1rem;
}

div#menu nav * {
    color: var(--white);
    text-decoration: none;
    display: grid;
    gap: 1rem;
}

div#menu nav > div {
    padding: 1rem 0;
}

div#menu nav > div:not(:last-child) {
    border-bottom: 1px solid rgba(167,98,234,0.4);
}

div#menu nav.active {
    left: 0;
    width: 100vw;
    height: 100vh;
}

div#menu nav svg {
    width: 20px;
    fill: var(--white);
}

div#menu nav a {
    display: flex;
}

header {
    width: 100%;
    height: 4rem;
    background: var(--main-purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 3.6rem;
}

header div img {
    content: url("/images/logo_mobile.png");
    max-width: 28px;
}

header a {
    color: var(--white);
    text-decoration: none;
    margin: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
}

header a:not(#login-button) {
    transition: color .4s ease;
}

header a:hover{
    color: rgb(245, 115, 24, 1);
    transition: color .4s ease;
}

header a#login-button{
    border: 1px solid var(--white);
    padding: 0.6rem 0.8rem;
    border-radius: 0.4rem;
}

header a#login-button:hover{
    background: var(--white);
    color: var(--main-purple);
    transition: none;
}

header img {
    width: 130px;
}

/*  ########## SEARCHS FLIGHT FORM ##########  */

div#flight_search {
    width: 100%;
    height: 20rem;
    background: var(--main-purple);
    padding: 2rem 1rem;
    
}

div#flight_search form div#search_container {
    display: grid;
    gap: 0.3rem;
    background-color: var(--blue);
    padding: 0.3rem;
    border-radius: 0.25rem;
}

div#flight_search div#from_container input,
div#flight_search div#to_container input{   
    background-image: url('/images/icons/airplane.svg');
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 0.5rem;
    width: 100%;
}

div#flight_search div#from_container div#from_results,
div#flight_search div#to_container div#to_results {
    position: absolute;
    display: none;
    width: 80vw;
    background: var(--white);
    outline: none;
    border: none;
    border-radius: 0.7rem;
    margin-top: 0.5rem;
    color: black;
}

div#flight_search div#from_container div#from_results div.from_result_container,
div#flight_search div#to_container div#to_results div.to_result_container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    cursor: pointer;
}

div#flight_search div#from_container div#from_results div.from_result_container *,
div#flight_search div#to_container div#to_results div.to_result_container * {
    pointer-events: none;
}


div#flight_search div#from_container div#from_results div.from_result_container img,
div#flight_search div#to_container div#to_results div.to_result_container img {
    width: 100%;
    padding: 0.5rem;
    border-radius: 20%;
}

div#flight_search button#search {
    display: flex;
    margin: 1rem auto;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: none;
    background: linear-gradient(135deg,#de1666 0%,#73146f 100%);
    color: var(--white);
    font-size: 0.9rem;
    font-weight: 500;
}

/* ########## FLIGHT RESULTS ########## */
div#right h2#title_of_flight_search {
    text-align: center;
    padding: 0.8rem 0;
}

div#right div#flight_search_results {
    display: grid;
    gap: 1rem;
}

div#right div#flight_search_results div.flightResult {
    background: var(--white);
    color: black;
    padding: 1rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* ########## LOGIN POPUP AND SIGNUP FORM ########## */

div.login_overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    transition: 0.6s cubic-bezier(0.42, 0, 0.28, 1.02);
}

div.login_overlay.active {
    display: block;
}

div#login_popup {
    background: white;
    padding: 1.2rem 2rem;
    border-radius: 0.8rem;
    color: black;
    position: absolute;
    top: 50%;
    left: -200vw;
    transform: translate(-50%, -50%);
    transition: 0.4s cubic-bezier(0.42, 0, 0.28, 1.02);
}

div#login_popup.active {
    display: block;
    left: 50%;
}

div#login_popup h3 {
    text-align: center;
    color: var(--main-purple);
    padding-bottom: 1rem;
}

div#login_popup button.close_button{
    position: absolute;
    top: 8.5px;
    right: 8.5px;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    background: none;
    cursor: pointer;
}

div#login_popup p#or {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #6d8494;
    margin: 20px 0;
}

div#login_popup p#or::before,
div#login_popup p#or::after {
    content: "";
    flex-grow: 1;
    background: #edecec;
    height: 1px;
    font-size: 0;
    line-height: 0;
}

div#login_popup div#login {
    margin-top: 1.5rem;
}

div#login_popup form,
form#signup_form  {
    display: grid;
    justify-content: center;
    gap: 0.7rem;
}

div#login_popup form div.input_group,
form#signup_form div.input_group {
    display: grid;
    gap: 0.3rem;
}

div#login_popup form input,
form#signup_form input {
    padding: 0.5rem;
    border-radius: 6px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

div#login_popup form button,
div#signup button#signup_button,
form#signup_form button#bt_signup {
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    margin-top: 0.8rem;
    background: var(--orange);
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    color: var(--main-purple);
}

div#signup button#signup_button a{
    text-decoration: none;
    color: var(--main-purple);
}

div#signup p {
    text-align: center;
}

form#signup_form {
    background: white;
    padding: 1.2rem 2rem;
    border-radius: 0.8rem;
    color: black;
}

form#signup_form  .input_regex_info {
    font-size: 0.75rem;
    color: rgba(17, 17, 17, 0.716);
}

form#signup_form  .input_group .error_message {
    display: flex;
    align-items: baseline;
}

form#signup_form .input_error_message {
    color: rgb(188, 0, 0, 1);
    font-size: 0.75rem;
    padding-left: 0.5rem;
}

