@import 'custom_properties';

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;}

input{
    height: 3rem;
    padding: 0 2.2rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background: var(--white);
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--main-purple);
    color: var(--white);
    overflow-x: hidden;
}

.mgt_05 {margin-top: 0.5rem;}
.mgt_1 {margin-top: 1rem;}
.mgt_2 {margin-top: 2rem;}
.mgt_3 {margin-top: 3rem;}

main {
    padding: 1rem;
}

footer {
    width: 100%;
    background: var(--second-purple);
    color: rgb(255, 255, 255, 0.6);
    padding: 2rem 1rem;
}

h1 {
    font-size: 1.3rem;
    text-align: center;
    padding: 1rem 2rem;
}

/* ########## MENU ########## */

div#menu {
    position: absolute;
    top: 0;
    left: 0;
}

div#menu div#burger_menu {
    height: 4rem;
    display: flex;
    padding-left: 1rem;
}

div#menu div#burger_menu button{
    padding: 0;
    border: none;
    background: none;
    color: var(--white);
    font-size: 1.5rem;
}

div#menu nav {
    position: fixed;
    background: var(--main-purple);
    left: -200vw;
    transition: width 0.2s linear;
    padding: 0.5rem;
}

div#menu nav * {
    color: var(--white);
    text-decoration: none;
    display: grid;
    gap: 1rem 1.5rem;
}

div#menu nav > div {
    padding: 1rem 0;
}

div#menu nav > div:not(:last-child) {
    border-bottom: 1px solid rgba(167,98,234,0.4);
}

div#menu nav.active {
    left: 0;
    width: 100vw;
    height: 100vh;
}

div#menu nav svg {
    width: 22px;
    fill: var(--white);
}

div#menu nav a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.4rem;
    padding: 1rem;
}

div#menu nav div a:hover,
div#menu nav div a.nav_active,
div#menu nav svg.nav_active {
    background: #9684a4;
    color: var(--main-purple);
    border-radius: 0.6rem;
    fill: var(--main-purple);
}

header {
    width: 100%;
    height: 4rem;
    background: var(--main-purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 3.6rem;
}

header div img {
    content: url("/images/logo_mobile.png");
    max-width: 28px;
}

header a {
    color: var(--white);
    text-decoration: none;
    margin: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
}

header a:not(#login-button) {
    transition: color .4s ease;
}

header a:hover{
    color: rgb(245, 115, 24, 1);
    transition: color .4s ease;
}

header a#login-button{
    border: 1px solid var(--white);
    padding: 0.6rem 0.8rem;
    border-radius: 0.4rem;
}

header a#login-button:hover{
    background: var(--white);
    color: var(--main-purple);
    transition: none;
}

header img {
    width: 130px;
}

/*  ########## SEARCHS FLIGHT FORM ##########  */

div#flight_search {
    width: 100%;
    height: 20rem;
    background: var(--main-purple);
    padding: 2rem 1rem;
    
}

div#flight_search form div#search_container {
    display: grid;
    gap: 0.3rem;
    background-color: var(--blue);
    padding: 0.3rem;
    border-radius: 0.25rem;
}

div#flight_search div#from_container input,
div#flight_search div#to_container input{   
    background-image: url('/images/icons/airplane.svg');
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 0.5rem;
    width: 100%;
}

div#flight_search div#from_container div#from_results,
div#flight_search div#to_container div#to_results {
    position: absolute;
    display: none;
    width: 80vw;
    background: var(--white);
    outline: none;
    border: none;
    border-radius: 0.7rem;
    margin-top: 0.5rem;
    color: black;
}

div#flight_search div#from_container div#from_results div.from_result_container,
div#flight_search div#to_container div#to_results div.to_result_container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    font-size: 0.85rem;
    cursor: pointer;
}

div#flight_search div#from_container div#from_results div.from_result_container .from_details .from_top,
div#flight_search div#to_container div#to_results div.to_result_container .to_details .to_top{
    display: flex;
}

div#flight_search div#from_container div#from_results div.from_result_container .from_details .from_top .from_airport_short,
div#flight_search div#to_container div#to_results div.to_result_container .to_details .to_top .to_airport_short {
    padding: 0 0.5rem;
    color: rgb(107, 107, 107);
}

div#flight_search div#from_container div#from_results div.from_result_container .from_details .from_airport,
div#flight_search div#to_container div#to_results div.to_result_container .to_details .to_airport{
    color: rgb(107, 107, 107);
}

div#flight_search div#from_container div#from_results div.from_result_container *,
div#flight_search div#to_container div#to_results div.to_result_container * {
    pointer-events: none;
}


div#flight_search div#from_container div#from_results div.from_result_container img,
div#flight_search div#to_container div#to_results div.to_result_container img {
    width: 100%;
    padding: 0.5rem;
    border-radius: 20%;
}

div#flight_search button#search {
    display: flex;
    margin: 1rem auto;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: none;
    background: linear-gradient(135deg,#de1666 0%,#73146f 100%);
    color: var(--white);
    font-size: 0.9rem;
    font-weight: 500;
}

/* ########## FLIGHT RESULTS ########## */
div#right h2#title_of_flight_search {
    text-align: center;
    padding: 0.8rem 0;
    font-size: 1.3rem;
}

div#right div#flight_search_results, 
div#all_flights_in_db {
    display: grid;
    gap: 1rem;
}

div.flightResult {
    background: white;
    color: black;
    padding: 0.7rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 0.8fr 3fr 1fr 1fr;
    align-items: center;
    font-size: 0.8rem;
    text-align: center;
    gap: 0.6rem;
}

div#all_flights_in_db button {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: none;
    background: linear-gradient(135deg,#de1666a6 0%,#73146fb5 100%);
    font-size: 1rem;
}

div#delete_flight_container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

div.flightResult img.airline_img {
    width: 100%;
}

div.flightResult div.flight_result_info {
    display: flex;
    justify-content: space-between;
}

div.flightResult div.flight_result_info div.from_info {
    text-align: right;
}

div.flightResult div.flight_result_info div.to_info {
    text-align: left;
}

div.flightResult div.flight_result_info div.from_info p.from_airport_short, div.flightResult div.flight_result_info div.to_info p.to_airport_short{
    font-size: 0.65rem;
}

div.flightResult div.flight_result_info div.from_info p.from_airport_name, div.flightResult div.flight_result_info div.to_info p.to_airport_name {
    display: none;
}

div.flightResult div.travel_divider {
    display: grid;
    align-items: center;
}

div.flightResult div.travel_divider p.divider {
    height: 1px;
    background: rgb(164, 164, 164);
}

div.flightResult div.travel_divider p.travel_hours {
    color: rgb(164, 164, 164);
    font-size: 0.7rem;
}



/* ########## LOGIN POPUP AND SIGNUP FORM ########## */

div.login_overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    transition: 0.6s cubic-bezier(0.42, 0, 0.28, 1.02);
}

div.login_overlay.active {
    display: block;
}

div#login_popup {
    background: white;
    padding: 1.2rem 2rem;
    border-radius: 0.8rem;
    color: black;
    position: absolute;
    top: 50%;
    left: -200vw;
    transform: translate(-50%, -50%);
    transition: 0.4s cubic-bezier(0.42, 0, 0.28, 1.02);
}

div#login_popup.active {
    display: block;
    left: 50%;
}

div#login_popup h3 {
    text-align: center;
    color: var(--main-purple);
    padding-bottom: 1rem;
}

div#login_popup button.close_button{
    position: absolute;
    top: 8.5px;
    right: 8.5px;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    color: var(--main-purple);
}

div#login_popup p#or {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #6d8494;
    margin: 20px 0;
}

div#login_popup p#or::before,
div#login_popup p#or::after {
    content: "";
    flex-grow: 1;
    background: #edecec;
    height: 1px;
    font-size: 0;
    line-height: 0;
}

div#login_popup div#login_container,
div#login_popup div#signup_container {
    margin-top: 1.5rem;
}

div#login_popup form#login_form {
    display: grid;
    justify-content: center;
    gap: 0.7rem;
}

form#signup_form {
    display: grid;
    justify-content: center;
    gap: 0.7rem;
}

div#login_popup form div.input_group,
form#signup_form div.input_group {
    display: grid;
    gap: 0.3rem;
}

div#login_popup form input,
form#signup_form input {
    padding: 0.5rem;
    border-radius: 6px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px inset;
}

div#login_popup button,
form#signup_form button#bt_signup {
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    margin-top: 0.8rem;
    background: linear-gradient(135deg,#de1666 0%,#73146f 100%);
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    color: var(--white);
}

div#signup_container button#signup_button a{
    text-decoration: none;
    color: var(--main-purple);
}

div#login_popup div#login_container p {
    text-align: center;
}

form#signup_form {
    background: white;
    border-radius: 0.8rem;
    color: black;
}

form#signup_form  .input_regex_info {
    font-size: 0.75rem;
    color: rgba(17, 17, 17, 0.716);
}

form#signup_form .input_group .error_message {
    display: flex;
    align-items: baseline;
}

form#signup_form .input_error_message {
    color: rgb(188, 0, 0, 1);
    font-size: 0.75rem;
    padding-left: 0.5rem;
}

div#signup_container {
    display: none;
}

/* ########## ADMIN PAGE ########## */
div#admin_menu {
    display: flex;
    padding: 1.8rem 0;
    place-content: space-evenly;
}

div#admin_menu p {
    border: 1px solid var(--white);
    padding: 0.6rem 0.8rem;
    border-radius: 0.4rem;
}

div#upload_image_container {
    display: none;
}

/* div#upload_image_container form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    padding: 1rem;
}

div#upload_image_container input[type="file"] {
    display: none;
}

.custom_file_to_upload {
    border: 1px solid var(--white);
    padding: 0.6rem 0.8rem;
    border-radius: 0.4rem;
}

div#upload_image_container form #import_image_button {
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    background: linear-gradient(135deg,#de1666 0%,#73146f 100%);
    font-size: 0.9rem;
    font-weight: 500;
    width: auto;
    color: var(--white);
    height: 2.5rem;
} */

/* ########## STATIC PAGES ########## */

/* Form */
div.static_form {
    width: 100%;
    padding: 2rem 1rem;
}

div.static_search_container {
    display: grid;
    gap: 0.3rem;
    background-color: var(--blue);
    padding: 0.3rem;
    border-radius: 0.25rem;
}

div.static_search_container input {
    width: 100%;
}


button.search_button {
    display: flex;
    margin: 1rem auto;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: none;
    background: linear-gradient(135deg,#de1666 0%,#73146f 100%);
    color: var(--white);
    font-size: 0.9rem;
    font-weight: 500;
}

/* Main */

div.main h2 {
    font-size: 1.3rem;
}

/* Image and text box */
div.image_and_text {
    border: 1px solid rgba(167,98,234,0.4);
    border-radius: 0.6rem;
}

div.image_and_text div.image_content img{
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    width: 100%;
    height: 335px;
    border-radius: 0.6rem 0.6rem 0 0;
}

div.image_and_text div.text_content {
    padding: 1rem;
}

div.image_and_text div.text_content h3{
    font-weight: 600;
}

div.image_and_text div.text_content p{
    font-size: 0.85rem;
    padding: 0.3rem 0 1rem;
}

div.image_and_text div.text_content button {
    font-weight: 600;
    color: #fff;
    background-color: #6b15c1;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 0.4rem;
}

/* Choose momondo */

div.choose_momondo h2 {
    padding: 1.5rem 0;
    border-bottom: 1px solid rgba(167,98,234,0.4);
}

div.choose_momondo div.reason {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 1rem;
    border-bottom: 1px solid rgba(167,98,234,0.4);
    align-items: center;
}

div.choose_momondo div.reason svg {
    fill: white;
}

div.choose_momondo div.reason p {
    padding-top: 0.3rem;
    font-size: 0.85rem;
}


/* Explore */

div.explore div.slideshow_container img{
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 162px;
    border-radius: 0.6rem;
}

div.explore div.slideshow_container a.prev,
div.explore div.slideshow_container a.next {
    cursor: pointer;
    padding: 0.6rem 1rem;
    background: #fff;
    box-shadow: 0 3px 6px rgb(21 1 39 / 16%), 0 -1px 4px rgb(21 1 39 / 4%);
    border-radius: 0.6rem;
    color: #150127;
    position: relative;
    top: 115px;
    margin: 0 0.3rem;
}

div.explore div.slideshow_container a.next {
    float: right;
    top: 102px;
}

div.explore div.slideshow_container div.mySlides div.text{
    height: 4rem;
}

div.explore div.slideshow_container div.mySlides p{
    font-size: 0.8rem;
}

div.explore div.slideshow_container div.mySlides p:first-child{
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.3rem 0;
}

main#things_to_do div.explore div.slideshow_container img{
    height: 232px;
}

main#things_to_do div.explore div.slideshow_container div.mySlides {
    gap: 1rem;
    width: 100%;
}

main#things_to_do div.explore div.slideshow_container a.prev{
    top: 140px;
}

main#things_to_do div.explore div.slideshow_container a.next{
    top: 130px;
}

/* Small cards */

div.text_and_content_small h3 {
    text-align: center;
}

div.text_and_content_small p.intro {
    text-align: center;
    font-size: 0.9rem;
    color: #a79bb2;
}

div.small_cards {
    display: grid;
    gap: 0.7rem;
}

div.small_cards div.small_card {
    background: white;
    display: grid;
    grid-template-columns: 2fr 2.5fr;
    border-radius: 0.6rem;
}

div.small_cards  div.small_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.6rem 0 0 0.6rem;
}

div.small_cards  div.small_card div.text_content {
    padding: 1rem;
}

div.small_cards  div.small_card div.text_content p:first-child{
    font-size: 0.7rem;
    text-transform: uppercase;
    color: rgb(96, 96, 96);
}

div.small_cards  div.small_card div.text_content p:nth-child(2){
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

/* Map */

div.map div.experiences {
    padding: 1rem 0;
    display: flex;
    gap: 1.2rem;
    overflow-x: auto;
}

div.map div.experiences div.experience {
    display: grid;
    grid-template-columns: auto 200px;
    align-items: center;
    gap: 1rem;
}

div.map div.experiences div.experience button{
    display: none;
}

div.map div.experiences div.experience img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 0.6rem;
}

div.map div.experiences div.experience p {
    font-weight: 600;
}

div.map .mapouter,
div.map .gmap_canvas,
div.map .gmap_iframe {
    height: 281px !important;
    border-radius: 0.6rem;
    filter: grayscale(1);
}
div.map .gmap_canvas a {
    display: none;
}

/* ########## FOOTER ########## */

footer {
    padding: 2rem 1rem;
    color: var(--white);
    font-size: 0.9rem;
}

footer div.footer_links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(167,98,234,0.4);
}

footer div.footer_links .footer_subject {
    display: grid;
    align-self: baseline;
    justify-content: center;
}

footer div.footer_links h6 {
    font-size: 1rem;
}

footer div.footer_links ul {
    list-style-type: none;
}

footer div.footer_links ul li{
    margin-top: 0.5rem;
}

footer div.footer_links ul li a {
    color: var(--white);
    text-decoration: none;
    pointer-events: none;
}

footer div.privacy_menu {
    display: grid;
    gap: 1rem;
    text-align: center;
}

footer div.privacy_menu *{
    font-size: 0.8rem;
    color: #919191;
    text-decoration: none;
}

footer div.privacy_menu .privacy_menu_link a{
    margin: 0.5rem;
}



.image_error {
    visibility: hidden;
}
